{% comment %}
  @param {string} label
  @param {string} value
{% endcomment %}

<div class="riift-spec-row">
  <span class="riift-spec-row__label">{{ label }}</span>
  <span class="riift-spec-row__value">{{ value }}</span>
</div>
